#code{
    width:5vw;
}

#name{
    width:27vw;
}

#eng,#score{
    width:5px;
}

#teacher{
    width:7vw;
}

#class{
    width:9vw;
}

#time{
    width:6vw;
}

.people{
    width:90px;
}

#data tr:not(#title){
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);    
    background-blend-mode: screen;
}

#title {
    background-image: linear-gradient(to top, #5189e9 0%, #04befe 100%);
    text-align: center;
}

#filter{
    background-image: linear-gradient(-225deg, #20E2D7 0%, rgb(252, 255, 202) 100%);
    border: 2px #cccccc solid;  
    border-collapse: collapse;
    table-layout: fixed;
    text-align:center;
    position: absolute;
    top:6vh;
    right:1vw;
    display: none;
}

#filter td{
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
    width: 5vw;
    height: 5vh;
}


